body {
	font-family: 'Montserrat';
}

.product-wrapper {
	position: relative;
}

.decorative-bg {
	position: absolute;
	top: 0;
	width: 790px;
	height: 697px;
	margin-left: 480px;
	z-index: -1;
}

.page-title {
	padding: 220px 217px 110px 217px;
	font-weight: 400;
	font-size: 70px;
	text-align: center;
	color: #515076;
	position: relative;
	z-index: 1;
}
.buttons {
	position: absolute;
	top: 0;
	width: 2000px;
	text-align: center;
	padding: 15px;
	z-index: 1;
}

.product-card-container {
	width: 1155px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	min-height: 1191px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}

.product-card {
	width: 340px;
	min-height: 573px;
	margin: 0 45px 45px 0;
	background-color: #f7f7fa;
	box-shadow: 2px 2px 10px #5150761a;
}

.product-card__image {
	width: 290px;
	height: 245px;
	margin: 25px 25px 0 25px;
}

.product-card__type {
	line-height: 24px;
	margin: 30px 144px 5px 25px;
	font-weight: 400;
	font-size: 12px;
	color: #a5a3b9;
}

.product-card__title {
	line-height: 27px;
	margin: 0 60px 5px 25px;
	font-size: 20px;
	font-weight: 700;
	color: #515076;
}

.product-card__description {
	height: 36px;
	line-height: 18px;
	margin: 0 28px 15px 25px;
	font-weight: 400;
	font-size: 13px;
	color: #515076;
}

.product-card__section-title {
	margin: 0 266px 5px 25px;
	font-weight: 400;
	font-size: 13px;
	color: #515076;
}

.product-card__ingredients {
	list-style-type: circle;
	margin: 0 63px 0 40px;
	font-weight: 400;
	font-size: 13px;
	color: #515076;
}

.product-card__price {
	display: flex;
	justify-content: space-between;
	margin: 25px;
	color: #515076;
}

.product-card__price-label {
	font-weight: 700;
	font-size: 20px;
}

.product-card__price-value {
	font-weight: 400;
	font-size: 20px;
}

.black {
	background-color: #1b1b1b;
	color: #ffffff;
}

.green {
	background-color: #2f8f4e;
	color: #ffffff;
}
